dist
node_modules

.idea

# Auto generated testcase files from docs, filename starts with _
src/__tests__/cases/**/_*.js
src/__tests__/cases/**/_*.ts
src/__tests__/cases/**/_*.jsx
src/__tests__/cases/**/_*.tsx
src/__tests__/cases/**/_*.mjs
src/__tests__/cases/**/_*.cjs

# Understant analyse projects
src/__tests__/und
