# IDE setting
.idea

node_modules

# Compiled code
**/lib/*

# Auto generated testcase files from docs, filename starts with _
tests/cases/**/_*.js
tests/cases/**/_*.ts
tests/cases/**/_*.jsx
tests/cases/**/_*.tsx
tests/cases/**/_*.mjs
tests/cases/**/_*.cjs

# Auto generated testsuite files from docs, filename starts with _
tests/suites/_*.test.js

# Understant analyse projects
# tests/und

# Jest coverage results
coverage

# TypeScript build info
**/*.tsbuildinfo
